.login-frame {    
    max-width: 400px; 
    margin: 10% auto 0 auto;
}

.main-frame {
    margin-top: 100px;
}

.my-message {
    background: #424242;
    border-color: #424242;
    color: white;        
    border-radius: 4px;
    width: 85%;
    margin-left: 15%;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 15px;
}

.chat-container {
    overflow-y: scroll;
    height: 600px;
    border: 0.5px dimgrey solid;
}

.other-message {
    background-color: #2a9fd6;
    border-color: #2a9fd6;
    color: white;        
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 15px;
    width: 85%
}

.message-data {
    font-size: 11px;
}

.message-data-other {
    color: rgba(86, 56, 56, 0.62);
    font-size: 11px;
}

.message-textbox {
    border-radius: 0px;
}

.other-message > a{
    color: #302b26;
}

.other-message > a::hover{
    color: #090909;
}